.App {
  background-image: url('19877.jpg');
  background-size: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  margin-top: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: oblique;
  color: indigo;
}
body {
  margin: 0;
  padding: 0;
}

button {
  border-radius: 20px;
  border: 1px solid white;
  color: white;
  background-color: blue;
  padding: 10px;
  margin-left: 37%;
  margin-top: 20px;
  width: auto;
  height: auto;
}

button:hover {
  background-color: green;
  color: white;
  cursor: pointer;
}

button:active {
  background-color: red;
  color: white;
}

input {
  margin: 5px;
  padding: 10px;
}

.todoList {
  flex: 70%;
  width: 100%;
}
